@import '../../utils/colors.scss';
@import '../../utils/variables.scss';

.search-panel {
  margin-top: 30px;
  padding: 25px;
  background-color: $main-color;
  border-radius: 4px;
  box-shadow: $box-shadow;
  color: $white;
}